header h1 {
    font-family:"Berkshire Swash";
    color: white;
}

header{
    background-color: rgb(106,168,79);
}


.search {
  width: 100%;
  position: relative;
}

#fridge .searchTerm {
  float: left;
  width: 100%;
  border: 3px solid rgb(106,168,79);
  padding: 5px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

#recipes .searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #b6d7a8ff;
  padding: 5px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #000000;
}

#fridge .searchButton {
  position: absolute;  
  right: -50px;
  width: 80px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: rgb(106,168,79);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

#recipes .searchButton {
  position: absolute;  
  right: -50px;
  width: 80px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #b6d7a8ff;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

#recipes .btn-group {
    background-color: #f7f9e3ff;
}

.searchBar{
  width: 88%;
  position: relative;
  top: 28%;
  left: 48%;
  transform: translate(-50%, -50%);
}

#fridge-tab {
    background-color: rgb(106,168,79);
}

#recipes-tab {
    background-color: #b6d7a8ff;
}

#ingredients-tab {
    background-color: #fff2ccff;
    color: grey;
}

#fridge {
  display: block;
    column-count: 1;
}

#recipes {
  display: none;
    column-count: 1;
}

#ingredients {
  display: none;
    column-count: 1;
}

.circle-apple {
  width: 120px;
  height: 120px;
  padding: 5px 11px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 60px;
  border-style: solid;
  background-color: white;
  text-align: center;
  border-width: 10px;
  border-color: green;
}

.hover-apple:hover {
  width: 120px;
  height: 120px;
  padding: 5px 11px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 60px;
  border-style: solid;
  background-color: #fdfff6ff;
  text-align: center;
  border-width: 10px;
  border-color: #28b000;
}



.circle-veggie {
  width: 120px;
  height: 120px;
  padding: 5px 11px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 60px;
  border-style: solid;
  background-color: white;
  text-align: center;
  border-width: 10px;
  border-color: teal;
}

.circle-milk {
  width: 120px;
  height: 120px;
  padding: 5px 11px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 60px;
  border-style: solid;
  background-color: white;
  text-align: center;
  border-width: 10px;
  border-color: red;
}

.circle-apple {
  width: 120px;
  height: 120px;
  padding: 5px 11px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 60px;
  border-style: solid;
  background-color: white;
  text-align: center;
  border-width: 10px;
  border-color: green;
}
 

.Food {
    color: white;
}

.jumbotron {
    background-color: #fdfff6ff;
}

.card-deck {
    margin:4em;
    background-color: white;
    display: flex;
}

.card-deck h5 {
    text-align: center;
    font-size: 1.75vw;
    margin-left: 0.02em;
    margin-right: 0.02em;
}

.container {
	border-color: black;
	text-align: center;
	display: flex;
	justify-content: space-around;
}

.card-deck {
    background-color: #93c47dff;
    color: white;
}

h5.vegetables-title{
      border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
	background-color: #62D27C;

}

h5.fruits-title{
	background-color: #eeb6e3ff;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

h5.proteins-title {
	background-color: #DE6464;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

h5.grains-title {
	background-color: #F4B06A;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

h5.dairies-title {
	background-color: #A2C0F2;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

h5.others-title {
	background-color: whitesmoke;
    color: black;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.title {
	border-color: black;
	text-align: center;
}

.categories {
	width: 140px;
	height: 500px;
}
