header h1 {
    font-family:"Berkshire Swash";
    color: white;
}

header{
    background-color: rgb(106,168,79);
}

#fridge-tab {
    background-color: rgb(106,168,79);
}

#recipes-tab {
    background-color: #b6d7a8ff;
}

#ingredients-tab {
    background-color: #fff2ccff;
    color: grey;
}

.Food {
    color: white;
}

.jumbotron {
    background-color: #fdfff6ff;
}

.card-deck {
    margin:2em;
    background-color: white;
    display: flex;
}

.card-deck h5 {
    text-align: center;
    font-size: 1.25em;
}

.container {
	border-color: black;
	text-align: center;
	column-count: 5;
	display: flex;
	justify-content: space-around;
}

.card-deck {
    background-color: #fff2ccff;
    color: white;
}

h5.vegetables-title{
	background-color: #62D27C;
}

h5.fruits-title{
	background-color: #eeb6e3ff;
}

h5.proteins-title {
	background-color: #DE6464;
}

h5.grains-title {
	background-color: #F4B06A;
}

h5.dairies-title {
	background-color: #A2C0F2;
}

h5.others-title {
	background-color: whitesmoke;
    color: black;
}

.title {
	border-color: black;
	text-align: center;
}

.categories {
	width: 140px;
	height: 500px;
}

h1.mainTitle {
    background-color: rgb(106,168,79);
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    font-family: fantasy;
    font-size: 70px;
    font-family: 'Berkshire Swash';
}
